<div class="container">

    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="./assets/imges/profiles/Sara Asghar Home Tutor.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            
            <h5 class="card-title">Home Tutor</h5>
            <p class="card-text">

              <p>Name: Aiman Fatima</p>

              <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      Profile
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">

                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Country: Pakistan</li>
                        <li class="list-group-item">State: Punjab</li>
                        <li class="list-group-item">Age: 23 years old</li>
                        <li class="list-group-item">Gender: Female</li>
                        <li class="list-group-item">2 Years Experience as a Home Tutor</li>
                        <li class="list-group-item">Subject Specialist: Mathematics </li>
                      </ul>
                      
                    
                    </div>
                  </div>
                  
                </div>
              </div>             
     
          <button type="button" class="btn btn-primary">Hire Request</button>
          <button type="button" class="btn btn-primary">Message</button>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>



      <div class="col">
        <div class="card h-100">
          <img src="./assets/imges/profiles/Aiman Fatima.jpg" class="card-img-top" alt="..">
          <div class="card-body">
            
            <h5 class="card-title">Babysitter</h5>
            <p class="card-text">

              <p>Name: Aiman Fatima</p>

              <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseOne">
                      Profile
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">

                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Country: Pakistan</li>
                        <li class="list-group-item">State: Punjab</li>
                        <li class="list-group-item">Age: 22 years old</li>
                        <li class="list-group-item">Gender: Female</li>
                        <li class="list-group-item">2 Years Experience as a Babysitter</li>
                      </ul>
                      
                    
                    </div>
                  </div>
                  
                </div>
              </div>             
        
          <button type="button" class="btn btn-primary">Hire Request</button>
          <button type="button" class="btn btn-primary">Message</button>
          

          

          </div>

          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>


      <div class="col">
        <div class="card h-100">
          <img src="./assets/imges/profiles/Zara Aslam.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            
            <h5 class="card-title">Maid</h5>
            <p class="card-text">

              <p>Name: Aiman Fatima</p>

              <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                      Profile
                    </button>
                  </h2>
                  <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">

                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Country: Pakistan</li>
                        <li class="list-group-item">State: Punjab</li>
                        <li class="list-group-item">Age: 22 years old</li>
                        <li class="list-group-item">Gender: Female</li>
                        <li class="list-group-item">2 Years Experience as a Maid</li>
                      </ul>
                      
                    
                    </div>
                  </div>
                  
                </div>
              </div>             
          
          <button type="button" class="btn btn-primary">Hire Request</button>
          <button type="submit" class="btn btn-primary">Message</button>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
    </div>
    
    



  </div>
