<div class="container">
    <div class="row">
        <div class="col-12">

            <p id="text1"></p>

        </div>
        <div class="card mb-3" >
            <div class="row g-0">
              <div class="col-md-6">
                <img src="./assets/imges/baby mobile.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-6">
                <div class="card-body">
                  <h1 class="card-title">About Us</h1>
                  <p class="card-text" id="text1">Home and Child Care Services is the largest staffing firm dedicated to the child care field.</p>
                  <p class="card-text">

                    Home and Child Care Services provides fully qualified and pre-screened teachers, assistant teachers and site directors to child care centers, preschools, and before & after school programs. CCC teachers are available on-demand, even same day, for short-term assignments, long-term assignments or permanent placements.

                  </p>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>