<div class="container">
    <div class="row">
        <h1>Our Services</h1>
    </div>
   <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card">
          <img src="./assets/imges/maid.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Maid Services</h5>
            <p class="card-text">

              Trust us to find the best maids service, maidinpakistan.com.pk agency that provides maid best suited for your needs. Order us today to hire a maids. The domestic candidates that we provide have the vital experience and skills to suit your need and desires. We had been putting qualified maids for years, so you can accept as true who find for you the best maids. We only place maids who know the job well. We conduct thorough background checks so you feel safe and secure with your choice of maids.

            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="./assets/imges/cook.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Cook</h5>
            <p class="card-text">

              We are also able to provide Cooks to our clients. The cooks provided by us are well trained and expert in cooking various dishes. These cooks understand the varied taste buds of clients and accordingly cook the food. They maintain hygienic conditions while preparing the food items. These cooks know cooking several dishes including vegetarian as well as non-vegetarian. We hire these cooks after properly testing their cooking skills. The cooks provided by us prepare delicious dishes as per the preferences of the clients. 

            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="./assets/imges/babysitter.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Babysitter</h5>
            <p class="card-text">

              Have you been looking for babysitter service? We, at maidinpakistan.com.pk would like to help you in your quest for a reputable, trustworthy and affordable child care services. You will be able to go to work or out on the town and enjoy yourself because you will be sure you hired maid for baby care that is going to care for your little ones the way you would. Making the decision to hire a babysitter, from a baby sitter services in Pakistan is a big one, however one which maximum parents face.

            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="./assets/imges/Home Tutor.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Home Tutor</h5>
            <p class="card-text">

              A Home Tutor is a specialized child worker who works with children to teach them different elements. Due to the fact that they are hired to teach children, they usually work with children from about 5 years of age. So have you been looking for nanny/governess service? We, at maidinpakistan.com.pk would like to help you in your quest for a reputable, trustworthy and affordable nanny/governess services. You will be able to go to work or out on the town and enjoy yourself because you will be sure you hired nanny

            </p>
          </div>
        </div>
      </div>
    </div>
</div>