<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./assets/imges/Slider 1.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1>Home and Child Care Services</h1>
        <p>THOUSANDS OF FULL-TIME AND PART-TIME POSITIONS</p>
        <a routerLink="/sign-up">
          <button type="button" class="btn btn-primary">Sign Up For Free</button>
        </a>
        
      </div>
    </div>
    <div class="carousel-item">
      <img src="./assets/imges/Slider 2.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1>Home and Child Care Services</h1>
        <p>THOUSANDS OF FULL-TIME AND PART-TIME POSITIONS</p>
        
        <a routerLink="/sign-up">
          <button type="button" class="btn btn-primary">Sign Up For Free</button>
        </a>

      </div>
    </div>
    <div class="carousel-item">
      <img src="./assets/imges/Slider 3.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1>Home and Child Care Services</h1>
        <p>THOUSANDS OF FULL-TIME AND PART-TIME POSITIONS</p>
        <a routerLink="/sign-up">
          <button type="button" class="btn btn-primary">Sign Up For Free</button>
        </a>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div class="container">


  <div class="row" id="text2">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{this.test1[0].name}}</h5>
          <p class="card-text">{{this.test1[1].adress}}</p>
          <a routerLink="/sign-up"><button type="button" class="btn btn-primary" id="button1" >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16" >
              <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
            </svg> {{this.test1.button}}
          </button></a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Select Candidate</h5>
          <p class="card-text">Find candidates with our fast, flexible search. Add favorites, save searches, and send secure...</p>
          <a routerLink="/sign-up"><button type="button" class="btn btn-primary" id="button1" >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16" >
              <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
            </svg>  Select Candidates
          </button></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Interview and Hire</h5>
          <p class="card-text">Get background checks, conduct online interviews & check references. Be informed, hire smart</p>
          <a routerLink="/sign-up"><button type="button" class="btn btn-primary" id="button1" >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16" >
              <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
            </svg> Interview and Hire
          </button></a>
        </div>
      </div>
    </div>
  </div>

</div>>


<div class="container">
  <div class="row">
      <div class="col-12">

          <p id="text1"></p>

      </div>
      <div class="card mb-3" >
          <div class="row g-0">
            <div class="col-md-6">
              <img src="./assets/imges/baby mobile.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <h1 class="card-title">About Us</h1>
                <p class="card-text" id="text1">Home and Child Care Services is the largest staffing firm dedicated to the child care field.</p>
                <p class="card-text">

                  Home and Child Care Services provides fully qualified and pre-screened teachers, assistant teachers and site directors to child care centers, preschools, and before & after school programs. CCC teachers are available on-demand, even same day, for short-term assignments, long-term assignments or permanent placements.

                </p>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>

<div class="container">
  <div class="row">
      <h1>Our Services</h1>
  </div>
 <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="./assets/imges/maid.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Maid Services</h5>
          <p class="card-text">

            Trust us to find the best maids service, maidinpakistan.com.pk agency that provides maid best suited for your needs. Order us today to hire a maids. The domestic candidates that we provide have the vital experience and skills to suit your need and desires. We had been putting qualified maids for years, so you can accept as true who find for you the best maids. We only place maids who know the job well. We conduct thorough background checks so you feel safe and secure with your choice of maids.

          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="./assets/imges/cook.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cook</h5>
          <p class="card-text">

            We are also able to provide Cooks to our clients. The cooks provided by us are well trained and expert in cooking various dishes. These cooks understand the varied taste buds of clients and accordingly cook the food. They maintain hygienic conditions while preparing the food items. These cooks know cooking several dishes including vegetarian as well as non-vegetarian. We hire these cooks after properly testing their cooking skills. The cooks provided by us prepare delicious dishes as per the preferences of the clients. 

          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="./assets/imges/babysitter.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Babysitter</h5>
          <p class="card-text">

            Have you been looking for babysitter service? We, at maidinpakistan.com.pk would like to help you in your quest for a reputable, trustworthy and affordable child care services. You will be able to go to work or out on the town and enjoy yourself because you will be sure you hired maid for baby care that is going to care for your little ones the way you would. Making the decision to hire a babysitter, from a baby sitter services in Pakistan is a big one, however one which maximum parents face.

          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="./assets/imges/Home Tutor.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Home Tutor</h5>
          <p class="card-text">

            A Home Tutor is a specialized child worker who works with children to teach them different elements. Due to the fact that they are hired to teach children, they usually work with children from about 5 years of age. So have you been looking for nanny/governess service? We, at maidinpakistan.com.pk would like to help you in your quest for a reputable, trustworthy and affordable nanny/governess services. You will be able to go to work or out on the town and enjoy yourself because you will be sure you hired nanny

          </p>
        </div>
      </div>
    </div>
  </div>
</div>
