<div class="container col-md-4" id="contact1">
    <form  class="row g-3">
      <hr id="line1">
        <div class="col-md-12">
            <label for="EmailNumber" class="form-label">Email/Number</label>
            <input type="text"  [(ngModel)]="this.sign_in.EmailNumber" class="form-control" id="EmailNumber" name="EmailNumber">
          </div>
          <div class="col-md-12">
            <label for="inputPassword" class="form-label">Password</label>
            <input type="password" [ngModelOptions]="{standalone: true}" [(ngModel)]="sign_in.password"  class="form-control" id="Password">
          </div>
          <label for="Catogary"  class="form-label" *ngIf="process">Login as</label>
          <select id="inputState" [ngModelOptions]="{standalone:true}" [(ngModel)]="sign_in.login_as" class="form-select">
            <option selected>Choose...</option>
            <option>Client</option>
            <option>Candidate</option>
          </select>
         
        
       
        <button type="button" class="btn btn-primary" (click)="process()">Sign In</button>
        
        <div>
          
           <a routerLink="#">Forget Password</a>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <div class="dont_have_an_account"> Don't have an account?  <a routerLink="/sign-up">sign_up</a></div>
          
          
          
       </div>

      </form>
      
</div>
