<div class="container col-md-4" id="contact1">
    <form class="row g-3">
      <hr id="line1">
        <div class="col-md-12">
            <label for="Email/Number" class="form-label">Email/Number</label>
            <input type="text" class="form-control" id="Email/Number">
          </div>
          <div class="col-md-12">
            <label for="inputPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword">
          </div>
         
       
        <button type="button" class="btn btn-primary">Sign In</button>



      </form>
      
</div>
