<div class="container col-md-4" id="contact1">
    <div class="row">
        <p class="conf-page-text" id="conf-text">if you want to register as ------ Enter the confirmation code from the text message</p>

        <hr id="line1">
        
        <p class="conf-page-text" id="conf-text2">Let us know if this mobile number belongs to you. Enter the code in the SMS sent to (123456789)0308  (Country Name).</p>
        <div class="col-4">
            <input type="text" [(ngModel)]="this.confirmation.code" name="inputConfirmation" class="confermation-code" id="confermation-code" maxlength="6">
            
           
        </div>
        <a id="conf-link" href="">Send SMS Again</a>
       
    </div>
    <hr id="line1">
   
   <div class="col-12">

    <button type="button" class="btn btn-primary">Update Contact Info</button>
    <button type="button" class="btn btn-primary"  >Continue</button>

   </div>
    

      
</div>