<br>
<div class="container">

    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="./assets/imges/profiles/Sara Asghar Home Tutor.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            
            <h5 class="card-title">{{this.test[0].job_name}}</h5>
            
            <p class="card-text"> </p>
              <p>Name: {{this.test[0].Name}}</p>

              <div class="accordion accordion-flush" id="accordionFlushExample">
                 <div class="accordion-item">

                  <h2 class="accordion-header" id="flush-headingOne">

                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      Profile
                    </button>

                  </h2>

                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">

                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Country: {{this.test[0].Country}}</li>
                        <li class="list-group-item">State: {{this.test[0].State}}</li>
                        <li class="list-group-item">Age: {{this.test[0].Age}}</li>
                        <li class="list-group-item">Gender: {{this.test[0].Gender}}</li>
                        <li class="list-group-item">{{this.test[0].Experience}}</li>
                        <li class="list-group-item">Subject Specialist: {{this.test[0].Subject_specialist}}</li>
                      </ul>
                      
                    
                    </div>
                  </div>
                  
                </div>
              </div>             
          
          <button type="button" class="btn btn-primary">Hire Request</button>
          <button type="button" class="btn btn-primary">Message</button>
          </div>
          <div class="card-footer">
            <small class="text-muted">{{this.test[0].LastUpdated}}</small>
          </div>
        </div>
      </div>



      <div class="col">
        <div class="card h-100">
          <img src="./assets/imges/profiles/Aiman Fatima.jpg" class="card-img-top" alt="..">
          <div class="card-body">
            
            <h5 class="card-title">{{this.test[1].job_name}}</h5>

            <p class="card-text"> </p>

              <p>Name: {{this.test[1].Name}}</p>

              <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseOne">
                      Profile
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">

                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Country: {{this.test[1].Country}}</li>
                        <li class="list-group-item">State: {{this.test[1].Punjab}}</li>
                        <li class="list-group-item">Age: {{this.test[1].Age}}</li>
                        <li class="list-group-item">Gender: {{this.test[1].Gender}}</li>
                        <li class="list-group-item">{{this.test[1].Experience}}</li>
                      </ul>
                      
                    
                    </div>
                  </div>
                  
                </div>
              </div>             
          
          <button type="button" class="btn btn-primary">Hire Request</button>
          <button type="button" class="btn btn-primary">Message</button>
          

          

          </div>

          <div class="card-footer">
            <small class="text-muted">{{this.test[1].LastUpdated}}</small>
          </div>
        </div>
      </div>


      <div class="col">
        <div class="card h-100">
          <img src="./assets/imges/profiles/Zara Aslam.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            
            <h5 class="card-title">{{this.test[2].job_name}}</h5>
            <p class="card-text"> </p>

              <p>Name: {{this.test[2].Name}}</p>

              <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                      Profile
                    </button>
                  </h2>
                  <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">

                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Country: {{this.test[2].Country}}</li>
                        <li class="list-group-item">State: {{this.test[2].State}}</li>
                        <li class="list-group-item">Age: {{this.test[2].Age}}</li>
                        <li class="list-group-item">Gender: {{this.test[2].Gender}} </li>
                        <li class="list-group-item">{{this.test[2].Experience}} </li>
                      </ul>
                      
                    
                    </div>
                  </div>
                  
                </div>
              </div>             
          
          <button type="button" class="btn btn-primary">Hire Request</button>
          <button type="submit" class="btn btn-primary">Message</button>
          </div>
          <div class="card-footer">
            <small class="text-muted">{{this.test[2].LastUpdated}}</small>
          </div>
        </div>
      </div>
    </div>
    
    



  </div>